<a href="https://colab.research.google.com/github/somkiatth/git/blob/master/ku_solution(c).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
n=['no','group','point']

In [ ]:
csvdf = pd.read_csv("/content/rdd_problem.csv",names=n)

In [ ]:
csvdf.head()

   no group  point
0   0     B     93
1   1     B     42
2   2     C     37
3   3     B     83
4   4     C     93

In [ ]:
test = csvdf.groupby(['group'])
test.describe()

             no                                                           \
          count           mean            std   min        25%       50%
group
A      199992.0  249829.538812  144347.715959  11.0  124866.75  249701.0
B      174806.0  250109.337809  144227.174938   0.0  125478.00  250154.5
C      125202.0  250117.633656  144476.821535   2.0  124585.50  250271.5

                               point                                          \
             75%       max     count       mean        std   min   25%   50%
group
A      374842.25  499998.0  199992.0  65.002010  20.510384  30.0  47.0  65.0
B      374859.50  499994.0  174806.0  65.003747  20.517551  30.0  47.0  65.0
C      375452.50  499999.0  125202.0  64.845689  20.485271  30.0  47.0  65.0


        75%    max
group
A      83.0  100.0
B      83.0  100.0
C      83.0  100.0

In [ ]:
newtest = test.agg(['mean'])
print(newtest)

                  no      point
                mean       mean
group
A      249829.538812  65.002010
B      250109.337809  65.003747
C      250117.633656  64.845689

In [4]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 42 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 56.4 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=9c693a8e204eda01f247589c35d4543976919ef76b5c7c24a4eb05028c89d200
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark=SparkSession.builder.getOrCreate()

In [7]:
schema = "no string, group string, point int"

In [8]:
df=spark.read.csv("/content/rdd_problem.csv", header=True, schema=schema)

In [9]:
df.show()

+---+-----+-----+
| no|group|point|
+---+-----+-----+
|  1|    B|   42|
|  2|    C|   37|
|  3|    B|   83|
|  4|    C|   93|
|  5|    B|   65|
|  6|    B|   81|
|  7|    C|   75|
|  8|    C|   93|
|  9|    C|  100|
| 10|    B|   31|
| 11|    A|   54|
| 12|    C|   30|
| 13|    B|   53|
| 14|    C|   38|
| 15|    C|   59|
| 16|    B|   83|
| 17|    A|   39|
| 18|    A|   63|
| 19|    C|   97|
| 20|    B|   66|
+---+-----+-----+
only showing top 20 rows

In [10]:
df.createOrReplaceTempView("problem")

In [12]:
import pyspark.sql.functions as F

In [15]:
df.groupby('group').agg(F.mean('point')).show()

+-----+-----------------+
|group|       avg(point)|
+-----+-----------------+
|    B|65.00358685392294|
|    C|64.84568936598457|
|    A|65.00201008040321|
+-----+-----------------+

solution (c)  ---------------------