<a href="https://colab.research.google.com/github/somkiatth/git/blob/master/ku_solution(c).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
n=['no','group','point']

In [ ]:
csvdf = pd.read_csv("/content/rdd_problem.csv",names=n)

In [ ]:
csvdf.head()

   no group  point
0   0     B     93
1   1     B     42
2   2     C     37
3   3     B     83
4   4     C     93

In [ ]:
test = csvdf.groupby(['group'])
test.describe()

             no                                                           \
          count           mean            std   min        25%       50%
group
A      199992.0  249829.538812  144347.715959  11.0  124866.75  249701.0
B      174806.0  250109.337809  144227.174938   0.0  125478.00  250154.5
C      125202.0  250117.633656  144476.821535   2.0  124585.50  250271.5

                               point                                          \
             75%       max     count       mean        std   min   25%   50%
group
A      374842.25  499998.0  199992.0  65.002010  20.510384  30.0  47.0  65.0
B      374859.50  499994.0  174806.0  65.003747  20.517551  30.0  47.0  65.0
C      375452.50  499999.0  125202.0  64.845689  20.485271  30.0  47.0  65.0


        75%    max
group
A      83.0  100.0
B      83.0  100.0
C      83.0  100.0

In [ ]:
newtest = test.agg(['mean'])
print(newtest)

                  no      point
                mean       mean
group
A      249829.538812  65.002010
B      250109.337809  65.003747
C      250117.633656  64.845689