<a href="https://colab.research.google.com/github/somkiatth/git/blob/master/kumllibAPI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 45 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 61.8 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=f97ed6606db3f194f0a498e1ac3543758be86d5cff3fceac50bcf5ad147fae62
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.getOrCreate()

In [ ]:
mldf=spark.read.csv("/content/census-income-all.csv", header=True, inferSchema=True)

In [ ]:
mldf.show(5)

+---+----------------+------+---------+-------+------------------+-----------------+-------------+-----+------+------------+------------+--------------+--------------+-----+
|age|       workclass|weight|education|edu num|    marital status|       occupation| relationship| race|   sex|captial-gain|capital-loss|hours-per-week|native country|label|
+---+----------------+------+---------+-------+------------------+-----------------+-------------+-----+------+------------+------------+--------------+--------------+-----+
| 39|       State-gov| 77516|Bachelors|     13|     Never-married|     Adm-clerical|Not-in-family|White|  Male|        2174|           0|            40| United-States|   No|
| 50|Self-emp-not-inc| 83311|Bachelors|     13|Married-civ-spouse|  Exec-managerial|      Husband|White|  Male|           0|           0|            13| United-States|   No|
| 38|         Private|215646|  HS-grad|      9|          Divorced|Handlers-cleaners|Not-in-family|White|  Male|           0|           0|            40| United-States|   No|
| 53|         Private|234721|     11th|      7|Married-civ-spouse|Handlers-cleaners|      Husband|Black|  Male|           0|           0|            40| United-States|   No|
| 28|         Private|338409|Bachelors|     13|Married-civ-spouse|   Prof-specialty|         Wife|Black|Female|           0|           0|            40|          Cuba|   No|
+---+----------------+------+---------+-------+------------------+-----------------+-------------+-----+------+------------+------------+--------------+--------------+-----+
only showing top 5 rows

In [ ]:
cstrain,cstest = mldf.randomSplit([0.8,0.2])

In [ ]:
cstrain.count(),cstest.count()

(39096, 9746)

In [ ]:
cstrain.write.csv("/content/censustrain.csv")

In [ ]:
cstrainload=spark.read.load("/content/censustrain.csv",format='csv')

In [ ]:
cstrainload.count()

38986

In [ ]:
cstrain.printSchema()

root
 |-- age: integer (nullable = true)
 |-- workclass: string (nullable = true)
 |-- weight: integer (nullable = true)
 |-- education: string (nullable = true)
 |-- edu num: integer (nullable = true)
 |-- marital status: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relationship: string (nullable = true)
 |-- race: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- captial-gain: integer (nullable = true)
 |-- capital-loss: integer (nullable = true)
 |-- hours-per-week: integer (nullable = true)
 |-- native country: string (nullable = true)
 |-- label: string (nullable = true)

In [ ]:
from pyspark.ml.feature import VectorAssembler

In [ ]:
va=VectorAssembler(inputCols=['age','edu num','captial-gain','capital-loss','hours-per-week'],outputCol='features')

In [ ]:
vtraindf=va.transform(cstrain)

In [ ]:
vtraindf.show(5)

+---+---------+------+---------+-------+--------------+----------+------------+-----+------+------------+------------+--------------+--------------+-----+--------------------+
|age|workclass|weight|education|edu num|marital status|occupation|relationship| race|   sex|captial-gain|capital-loss|hours-per-week|native country|label|            features|
+---+---------+------+---------+-------+--------------+----------+------------+-----+------+------------+------------+--------------+--------------+-----+--------------------+
| 17|        ?| 27251|     11th|      7|       Widowed|         ?|   Own-child|White|  Male|           0|           0|            40| United-States|   No|[17.0,7.0,0.0,0.0...|
| 17|        ?| 34019|     10th|      6| Never-married|         ?|   Own-child|White|  Male|           0|           0|            20| United-States|   No|[17.0,6.0,0.0,0.0...|
| 17|        ?| 34088|     12th|      8| Never-married|         ?|   Own-child|White|Female|           0|           0|            25| United-States|   No|[17.0,8.0,0.0,0.0...|
| 17|        ?| 41643|     11th|      7| Never-married|         ?|   Own-child|White|Female|           0|           0|            15| United-States|   No|[17.0,7.0,0.0,0.0...|
| 17|        ?| 45037|     10th|      6| Never-married|         ?|   Own-child|White|Female|           0|           0|            25| United-States|   No|[17.0,6.0,0.0,0.0...|
+---+---------+------+---------+-------+--------------+----------+------------+-----+------+------------+------------+--------------+--------------+-----+--------------------+
only showing top 5 rows

In [ ]:
from pyspark.ml.feature import StringIndexer

In [ ]:
si=StringIndexer(inputCol='label',outputCol='label_idx',stringOrderType='frequencyDesc')

In [ ]:
labelindex = si.fit(vtraindf)

In [ ]:
vidxtraindf=labelindex.transform(vtraindf)

In [ ]:
vidxtraindf.show()

+---+---------+------+---------+-------+--------------+----------+--------------+-----+------+------------+------------+--------------+--------------+-----+--------------------+---------+
|age|workclass|weight|education|edu num|marital status|occupation|  relationship| race|   sex|captial-gain|capital-loss|hours-per-week|native country|label|            features|label_idx|
+---+---------+------+---------+-------+--------------+----------+--------------+-----+------+------------+------------+--------------+--------------+-----+--------------------+---------+
| 17|        ?| 27251|     11th|      7|       Widowed|         ?|     Own-child|White|  Male|           0|           0|            40| United-States|   No|[17.0,7.0,0.0,0.0...|      0.0|
| 17|        ?| 34019|     10th|      6| Never-married|         ?|     Own-child|White|  Male|           0|           0|            20| United-States|   No|[17.0,6.0,0.0,0.0...|      0.0|
| 17|        ?| 34088|     12th|      8| Never-married|         ?|     Own-child|White|Female|           0|           0|            25| United-States|   No|[17.0,8.0,0.0,0.0...|      0.0|
| 17|        ?| 41643|     11th|      7| Never-married|         ?|     Own-child|White|Female|           0|           0|            15| United-States|   No|[17.0,7.0,0.0,0.0...|      0.0|
| 17|        ?| 45037|     10th|      6| Never-married|         ?|     Own-child|White|Female|           0|           0|            25| United-States|   No|[17.0,6.0,0.0,0.0...|      0.0|
| 17|        ?| 47407|     11th|      7| Never-married|         ?|     Own-child|White|  Male|           0|           0|            10| United-States|   No|[17.0,7.0,0.0,0.0...|      0.0|
| 17|        ?| 48703|     11th|      7| Never-married|         ?|     Own-child|White|Female|           0|           0|            30| United-States|   No|[17.0,7.0,0.0,0.0...|      0.0|
| 17|        ?| 48751|     11th|      7| Never-married|         ?|     Own-child|Black|Female|           0|           0|            40| United-States|   No|[17.0,7.0,0.0,0.0...|      0.0|
| 17|        ?| 64785|     10th|      6| Never-married|         ?|     Own-child|White|  Male|           0|           0|            30| United-States|   No|[17.0,6.0,0.0,0.0...|      0.0|
| 17|        ?| 67808|     10th|      6| Never-married|         ?|     Own-child|White|  Male|           0|           0|            40| United-States|   No|[17.0,6.0,0.0,0.0...|      0.0|
| 17|        ?| 86786|     10th|      6| Never-married|         ?|     Own-child|White|Female|           0|           0|            40| United-States|   No|[17.0,6.0,0.0,0.0...|      0.0|
| 17|        ?| 89870|     10th|      6| Never-married|         ?|     Own-child|White|  Male|           0|           0|            40| United-States|   No|[17.0,6.0,0.0,0.0...|      0.0|
| 17|        ?| 94366|     10th|      6| Never-married|         ?|Other-relative|White|  Male|           0|           0|             6| United-States|   No|[17.0,6.0,0.0,0.0...|      0.0|
| 17|        ?| 94492|     10th|      6| Never-married|         ?|     Own-child|White|Female|           0|           0|            30| United-States|   No|[17.0,6.0,0.0,0.0...|      0.0|
| 17|        ?| 99695|     10th|      6| Never-married|         ?|     Own-child|White|Female|           0|           0|            15| United-States|   No|[17.0,6.0,0.0,0.0...|      0.0|
| 17|        ?|103810|     12th|      8| Never-married|         ?|     Own-child|White|  Male|           0|           0|            40| United-States|   No|[17.0,8.0,0.0,0.0...|      0.0|
| 17|        ?|112942|     10th|      6| Never-married|         ?|     Own-child|White|  Male|           0|           0|            40| United-States|   No|[17.0,6.0,0.0,0.0...|      0.0|
| 17|        ?|114798|     11th|      7| Never-married|         ?|     Own-child|White|Female|           0|           0|            18| United-States|   No|[17.0,7.0,0.0,0.0...|      0.0|
| 17|        ?|127003|      9th|      5| Never-married|         ?|     Own-child|Black|  Male|           0|           0|            40| United-States|   No|[17.0,5.0,0.0,0.0...|      0.0|
| 17|        ?|138507|     10th|      6| Never-married|         ?|     Own-child|White|  Male|           0|           0|            20| United-States|   No|[17.0,6.0,0.0,0.0...|      0.0|
+---+---------+------+---------+-------+--------------+----------+--------------+-----+------+------------+------------+--------------+--------------+-----+--------------------+---------+
only showing top 20 rows

In [ ]:
from pyspark.ml.classification import LogisticRegression

In [ ]:
lr=LogisticRegression(featuresCol='features',labelCol='label_idx',maxIter=1000, tol=.001,regParam=0)

In [ ]:
lrmodel = lr.fit(vidxtraindf)

In [ ]:
lrmodel.transform(vidxtraindf).show()

+---+---------+------+---------+-------+--------------+----------+--------------+-----+------+------------+------------+--------------+--------------+-----+--------------------+---------+--------------------+--------------------+----------+
|age|workclass|weight|education|edu num|marital status|occupation|  relationship| race|   sex|captial-gain|capital-loss|hours-per-week|native country|label|            features|label_idx|       rawPrediction|         probability|prediction|
+---+---------+------+---------+-------+--------------+----------+--------------+-----+------+------------+------------+--------------+--------------+-----+--------------------+---------+--------------------+--------------------+----------+
| 17|        ?| 27251|     11th|      7|       Widowed|         ?|     Own-child|White|  Male|           0|           0|            40| United-States|   No|[17.0,7.0,0.0,0.0...|      0.0|[3.70137397731913...|[0.97590530760920...|       0.0|
| 17|        ?| 34019|     10th|      6| Never-married|         ?|     Own-child|White|  Male|           0|           0|            20| United-States|   No|[17.0,6.0,0.0,0.0...|      0.0|[4.82898759859071...|[0.99206879596479...|       0.0|
| 17|        ?| 34088|     12th|      8| Never-married|         ?|     Own-child|White|Female|           0|           0|            25| United-States|   No|[17.0,8.0,0.0,0.0...|      0.0|[3.97835458987171...|[0.98162745784872...|       0.0|
| 17|        ?| 41643|     11th|      7| Never-married|         ?|     Own-child|White|Female|           0|           0|            15| United-States|   No|[17.0,7.0,0.0,0.0...|      0.0|[4.70465557290782...|[0.99102819028814...|       0.0|
| 17|        ?| 45037|     10th|      6| Never-married|         ?|     Own-child|White|Female|           0|           0|            25| United-States|   No|[17.0,6.0,0.0,0.0...|      0.0|[4.62833127947298...|[0.99032349892387...|       0.0|
| 17|        ?| 47407|     11th|      7| Never-married|         ?|     Own-child|White|  Male|           0|           0|            10| United-States|   No|[17.0,7.0,0.0,0.0...|      0.0|[4.90531189202556...|[0.99264732970602...|       0.0|
| 17|        ?| 48703|     11th|      7| Never-married|         ?|     Own-child|White|Female|           0|           0|            30| United-States|   No|[17.0,7.0,0.0,0.0...|      0.0|[4.10268661555460...|[0.98374052920922...|       0.0|
| 17|        ?| 48751|     11th|      7| Never-married|         ?|     Own-child|Black|Female|           0|           0|            40| United-States|   No|[17.0,7.0,0.0,0.0...|      0.0|[3.70137397731913...|[0.97590530760920...|       0.0|
| 17|        ?| 64785|     10th|      6| Never-married|         ?|     Own-child|White|  Male|           0|           0|            30| United-States|   No|[17.0,6.0,0.0,0.0...|      0.0|[4.42767496035524...|[0.98819871008021...|       0.0|
| 17|        ?| 67808|     10th|      6| Never-married|         ?|     Own-child|White|  Male|           0|           0|            40| United-States|   No|[17.0,6.0,0.0,0.0...|      0.0|[4.02636232211976...|[0.98247355117608...|       0.0|
| 17|        ?| 86786|     10th|      6| Never-married|         ?|     Own-child|White|Female|           0|           0|            40| United-States|   No|[17.0,6.0,0.0,0.0...|      0.0|[4.02636232211976...|[0.98247355117608...|       0.0|
| 17|        ?| 89870|     10th|      6| Never-married|         ?|     Own-child|White|  Male|           0|           0|            40| United-States|   No|[17.0,6.0,0.0,0.0...|      0.0|[4.02636232211976...|[0.98247355117608...|       0.0|
| 17|        ?| 94366|     10th|      6| Never-married|         ?|Other-relative|White|  Male|           0|           0|             6| United-States|   No|[17.0,6.0,0.0,0.0...|      0.0|[5.39082529212038...|[0.99546247307203...|       0.0|
| 17|        ?| 94492|     10th|      6| Never-married|         ?|     Own-child|White|Female|           0|           0|            30| United-States|   No|[17.0,6.0,0.0,0.0...|      0.0|[4.42767496035524...|[0.98819871008021...|       0.0|
| 17|        ?| 99695|     10th|      6| Never-married|         ?|     Own-child|White|Female|           0|           0|            15| United-States|   No|[17.0,6.0,0.0,0.0...|      0.0|[5.02964391770845...|[0.99350136911037...|       0.0|
| 17|        ?|103810|     12th|      8| Never-married|         ?|     Own-child|White|  Male|           0|           0|            40| United-States|   No|[17.0,8.0,0.0,0.0...|      0.0|[3.37638563251849...|[0.96695832112432...|       0.0|
| 17|        ?|112942|     10th|      6| Never-married|         ?|     Own-child|White|  Male|           0|           0|            40| United-States|   No|[17.0,6.0,0.0,0.0...|      0.0|[4.02636232211976...|[0.98247355117608...|       0.0|
| 17|        ?|114798|     11th|      7| Never-married|         ?|     Own-child|White|Female|           0|           0|            18| United-States|   No|[17.0,7.0,0.0,0.0...|      0.0|[4.58426178143717...|[0.98989193120664...|       0.0|
| 17|        ?|127003|      9th|      5| Never-married|         ?|     Own-child|Black|  Male|           0|           0|            40| United-States|   No|[17.0,5.0,0.0,0.0...|      0.0|[4.35135066692039...|[0.98727463072379...|       0.0|
| 17|        ?|138507|     10th|      6| Never-married|         ?|     Own-child|White|  Male|           0|           0|            20| United-States|   No|[17.0,6.0,0.0,0.0...|      0.0|[4.82898759859071...|[0.99206879596479...|       0.0|
+---+---------+------+---------+-------+--------------+----------+--------------+-----+------+------------+------------+--------------+--------------+-----+--------------------+---------+--------------------+--------------------+----------+
only showing top 20 rows

In [ ]:
lrmodel.coefficients

DenseVector([0.0427, 0.325, 0.0003, 0.0007, 0.0401])

In [ ]:
lrmodel.intercept

-8.306627004195706

In [ ]:
lrtrainresult=lrmodel.evaluate(vidxtraindf)

In [ ]:
lrtrainresult.accuracy

0.8143179602934387

In [ ]:
lrtrainresult.recallByLabel

[0.9481688810952991, 0.3889841405915131]

In [ ]:
lrtrainresult.labels

[0.0, 1.0]

In [ ]:
lrmodel.transform(vidxtraindf).sample(1/4000).show()

+---+----------------+------+------------+-------+------------------+-----------------+-------------+-----+------+------------+------------+--------------+--------------+-----+--------------------+---------+--------------------+--------------------+----------+
|age|       workclass|weight|   education|edu num|    marital status|       occupation| relationship| race|   sex|captial-gain|capital-loss|hours-per-week|native country|label|            features|label_idx|       rawPrediction|         probability|prediction|
+---+----------------+------+------------+-------+------------------+-----------------+-------------+-----+------+------------+------------+--------------+--------------+-----+--------------------+---------+--------------------+--------------------+----------+
| 17|         Private|154337|        11th|      7|     Never-married|    Other-service|    Own-child|White|Female|           0|           0|            13| United-States|   No|[17.0,7.0,0.0,0.0...|      0.0|[4.78491810055491...|[0.99171441648515...|       0.0|
| 19|         Private|278480|Some-college|     10|     Never-married|  Exec-managerial|Not-in-family|White|  Male|           0|           0|            40| United-States|   No|[19.0,10.0,0.0,0....|      0.0|[2.64110493581955...|[0.93346062695000...|       0.0|
| 26|         Private|104257|     HS-grad|      9|     Never-married|    Other-service|Not-in-family|White|Female|           0|           0|            50| United-States|   No|[26.0,9.0,0.0,0.0...|      0.0|[2.26621661754285...|[0.90604019768837...|       0.0|
| 27|         Private|257033|     HS-grad|      9|     Never-married|Handlers-cleaners|Not-in-family|Black|  Male|           0|           0|            60| United-States|   No|[27.0,9.0,0.0,0.0...|      0.0|[1.82225197575853...|[0.86083612691650...|       0.0|
| 31|         Private|181091|     HS-grad|      9|Married-civ-spouse|     Craft-repair|      Husband|White|  Male|           0|           0|            50| United-States|  Yes|[31.0,9.0,0.0,0.0...|      1.0|[2.05295659979866...|[0.88624602595049...|       0.0|
| 32|         Private| 35595|   Bachelors|     13|     Never-married|     Adm-clerical|Not-in-family|White|  Male|           0|           0|            40| United-States|   No|[32.0,13.0,0.0,0....|      0.0|[1.11166385528277...|[0.75243917535067...|       0.0|
| 37|Self-emp-not-inc|154641|     HS-grad|      9|     Never-married|  Farming-fishing|Not-in-family|White|  Male|           0|           0|            86| United-States|   No|[37.0,9.0,0.0,0.0...|      0.0|[0.35231908085793...|[0.58717983678971...|       0.0|
| 38|       State-gov|272944|     HS-grad|      9|          Divorced|    Other-service|Not-in-family|White|  Male|           0|           0|            40| United-States|   No|[38.0,9.0,0.0,0.0...|      0.0|[2.15570521319228...|[0.89620070527786...|       0.0|
| 39|       Local-gov|177728|     Masters|     14|          Divorced|   Prof-specialty|Not-in-family|White|Female|           0|           0|            40| United-States|   No|[39.0,14.0,0.0,0....|      0.0|[0.48811148564027...|[0.61966144582029...|       0.0|
| 40|         Private|445382|     HS-grad|      9|Married-civ-spouse|  Exec-managerial|      Husband|White|  Male|           0|           0|            40| United-States|  Yes|[40.0,9.0,0.0,0.0...|      1.0|[2.07040120609461...|[0.88799287222764...|       0.0|
| 45|         Private|118291|Some-college|     10|     Never-married|     Craft-repair|Not-in-family|White|Female|           0|           0|            80| United-States|   No|[45.0,10.0,0.0,0....|      0.0|[-0.0730977093921...|[0.48173370541418...|       1.0|
| 54|         Private|189607|   Bachelors|     13|     Never-married|    Other-service|    Own-child|Black|Female|           0|           0|            36| United-States|   No|[54.0,13.0,0.0,0....|      0.0|[0.33384483250255...|[0.58269458867969...|       0.0|
| 58|         Private|215190|        11th|      7|Married-civ-spouse|    Other-service|      Husband|White|  Male|           0|           0|            20| United-States|   No|[58.0,7.0,0.0,0.0...|      0.0|[2.75526710828777...|[0.94021012797998...|       0.0|
+---+----------------+------+------------+-------+------------------+-----------------+-------------+-----+------+------------+------------+--------------+--------------+-----+--------------------+---------+--------------------+--------------------+----------+

In [ ]:
vidxtestdf = labelindex.transform(va.transform(cstest))

In [ ]:
vidxtestdf.show(5)

+---+---------+------+------------+-------+--------------+----------+------------+-----+------+------------+------------+--------------+--------------+-----+--------------------+---------+
|age|workclass|weight|   education|edu num|marital status|occupation|relationship| race|   sex|captial-gain|capital-loss|hours-per-week|native country|label|            features|label_idx|
+---+---------+------+------------+-------+--------------+----------+------------+-----+------+------------+------------+--------------+--------------+-----+--------------------+---------+
| 17|        ?| 34505|        11th|      7| Never-married|         ?|   Own-child|White|  Male|           0|           0|            50| United-States|   No|[17.0,7.0,0.0,0.0...|      0.0|
| 17|        ?| 44789|Some-college|     10| Never-married|         ?|   Own-child|White|  Male|           0|           0|            15| United-States|   No|[17.0,10.0,0.0,0....|      0.0|
| 17|        ?| 80077|        11th|      7| Never-married|         ?|   Own-child|White|Female|           0|           0|            20| United-States|   No|[17.0,7.0,0.0,0.0...|      0.0|
| 17|        ?|103851|        11th|      7| Never-married|         ?|   Own-child|White|Female|           0|           0|            45| United-States|   No|[17.0,7.0,0.0,0.0...|      0.0|
| 17|        ?|104025|        11th|      7| Never-married|         ?|   Own-child|White|  Male|           0|           0|            18| United-States|   No|[17.0,7.0,0.0,0.0...|      0.0|
+---+---------+------+------------+-------+--------------+----------+------------+-----+------+------------+------------+--------------+--------------+-----+--------------------+---------+
only showing top 5 rows

In [ ]:
lrtestresult=lrmodel.evaluate(vidxtestdf)

In [ ]:
lrtestresult.accuracyk

0.8136160714285714

In [ ]:
lrtestresult.recallByLabel

[0.9490734568724171, 0.3821656050955414]

In [ ]:
from pyspark.ml.feature import StandardScaler

In [ ]:
stdscl = StandardScaler(inputCol='features',outputCol='sclfeatures')

In [ ]:
stdsclmodel =stdscl.fit(vidxtraindf)

In [ ]:
stdsclmodel.mean

DenseVector([38.6334, 10.0662, 1090.7763, 86.6891, 40.4766])

In [ ]:
stdsclmodel.std

DenseVector([13.7056, 2.578, 7476.798, 401.0768, 12.3845])

In [ ]:
scltraindf=stdsclmodel.transform(vidxtraindf)

In [ ]:
scltraindf.select('features','sclfeatures').show()

+--------------------+--------------------+
|            features|         sclfeatures|
+--------------------+--------------------+
|[17.0,7.0,0.0,0.0...|[1.24037097913212...|
|[17.0,6.0,0.0,0.0...|[1.24037097913212...|
|[17.0,8.0,0.0,0.0...|[1.24037097913212...|
|[17.0,7.0,0.0,0.0...|[1.24037097913212...|
|[17.0,6.0,0.0,0.0...|[1.24037097913212...|
|[17.0,7.0,0.0,0.0...|[1.24037097913212...|
|[17.0,7.0,0.0,0.0...|[1.24037097913212...|
|[17.0,7.0,0.0,0.0...|[1.24037097913212...|
|[17.0,6.0,0.0,0.0...|[1.24037097913212...|
|[17.0,6.0,0.0,0.0...|[1.24037097913212...|
|[17.0,6.0,0.0,0.0...|[1.24037097913212...|
|[17.0,6.0,0.0,0.0...|[1.24037097913212...|
|[17.0,6.0,0.0,0.0...|[1.24037097913212...|
|[17.0,6.0,0.0,0.0...|[1.24037097913212...|
|[17.0,6.0,0.0,0.0...|[1.24037097913212...|
|[17.0,8.0,0.0,0.0...|[1.24037097913212...|
|[17.0,6.0,0.0,0.0...|[1.24037097913212...|
|[17.0,7.0,0.0,0.0...|[1.24037097913212...|
|[17.0,5.0,0.0,0.0...|[1.24037097913212...|
|[17.0,6.0,0.0,0.0...|[1.24037097913212...|
+--------------------+--------------------+
only showing top 20 rows

In [ ]:
newlr=LogisticRegression(featuresCol='features1',labelCol='labelidx1', maxIter=1000, tol=.0001,regParam=0)

In [ ]:
cstrain.printSchema()

root
 |-- age: integer (nullable = true)
 |-- workclass: string (nullable = true)
 |-- weight: integer (nullable = true)
 |-- education: string (nullable = true)
 |-- edu num: integer (nullable = true)
 |-- marital status: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relationship: string (nullable = true)
 |-- race: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- captial-gain: integer (nullable = true)
 |-- capital-loss: integer (nullable = true)
 |-- hours-per-week: integer (nullable = true)
 |-- native country: string (nullable = true)
 |-- label: string (nullable = true)

In [ ]:
catcol =['marital statu','occupation','sex']

In [ ]:
catindexcol=[c+'_index' for c in catcol]

In [ ]:
catindexcol

['marital statu_index', 'occupation_index', 'sex_index']

In [ ]:
sicat = StringIndexer( inputCols = catcol, outputCols = catindexcol)

In [ ]:
sicat

StringIndexer_f5cf2f41ae3d

In [ ]:
cstrain.count()

39096

In [163]:
from pyspark.ml.pipeline import Pipeline

decision tree

In [149]:
from pyspark.ml.classification import DecisionTreeClassifier

In [161]:
from pyspark.ml.pipeline import Pipeline

In [162]:
dt=DecisionTreeClassifier(featuresCol='features', labelCol='label_index',maxDepth=30)

In [ ]:
dtp =Pipeline(stages=[va_scale_p, ss_p])