<a href="https://colab.research.google.com/github/somkiatth/git/blob/master/kupyspark1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.5)

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.getOrCreate()

In [ ]:
df=spark.read.csv("/content/accidents.csv", header=True)

In [ ]:
df.show()

+----------+-----------+-------------+--------+-----------------------------+--------------+--------------+----+----+--------------+----------+--------------+--------------+-------+-----------+-----------------+-----------+----------+-------------+
|ชื่อเทศกาล|รหัสจังหวัด|      จังหวัด|รหัส รพ.|ชื่อโรงพยาบาลที่รับผู้บาดเจ็บ|วันที่เกิดเหตุ|  เวลาเกิดเหตุ| เพศ|อายุ|ถนนที่เกิดเหตุ|     สถานะ|  รถผู้บาดเจ็บ|     รถคู่กรณี|มาตรการ|การดื่มสุรา|         การนำส่ง|Refer-Admit|ผลการรักษา|จำนวนวันรักษา|
+----------+-----------+-------------+--------+-----------------------------+--------------+--------------+----+----+--------------+----------+--------------+--------------+-------+-----------+-----------------+-----------+----------+-------------+
| ปีใหม่ 51|         10|กรุงเทพมหานคร|   11630|                      กรุงเทพ|             3|12:01-13:00 น.|หญิง|  54|       ในเมือง| ผู้ชับขี่|รถเก๋ง/แท็กซี่|  ไม่มี/ล้มเอง|เข็มขัด|    ไม่ดื่ม|ผู้ประสบเหตุ/ญาติ|        ไม่| ทุเลา/หาย|            0|
| ปีใหม่ 51|         10|กรุงเทพมหานคร|   11548|             กรุงเทพคริสเตียน|             2|21:01-22:00 น.|หญิง|  13|       ในเมือง| ผู้ชับขี่|   จักรยานยนต์|         รถตู้|ใส่หมวก|    ไม่ดื่ม|มูลนิธิ/อาสาสมัคร|      admit| ทุเลา/หาย|            0|
| ปีใหม่ 51|         10|กรุงเทพมหานคร|   11548|             กรุงเทพคริสเตียน|            31|03:01-04:00 น.|หญิง|   0|       ในเมือง| ผู้โดยสาร|   จักรยานยนต์|        ปิคอัพ| ไม่ใส่|    ไม่ดื่ม|ผู้ประสบเหตุ/ญาติ|        ไม่| ทุเลา/หาย|            0|
| ปีใหม่ 51|         10|กรุงเทพมหานคร|   11548|             กรุงเทพคริสเตียน|            31|03:01-04:00 น.|หญิง|   0|       ในเมือง| ผู้โดยสาร|   จักรยานยนต์|        ปิคอัพ|ใส่หมวก|    ไม่ดื่ม|ผู้ประสบเหตุ/ญาติ|        ไม่| ทุเลา/หาย|            0|
| ปีใหม่ 51|         10|กรุงเทพมหานคร|   11548|             กรุงเทพคริสเตียน|            31|03:01-04:00 น.| ชาย|   0|       ในเมือง| ผู้ชับขี่|   จักรยานยนต์|        ปิคอัพ|ใส่หมวก|       ดื่ม|ผู้ประสบเหตุ/ญาติ|        ไม่| ทุเลา/หาย|            0|
| ปีใหม่ 51|         10|กรุงเทพมหานคร|   11548|             กรุงเทพคริสเตียน|            30|11:01-12:00 น.| ชาย|  81|       ในเมือง|คนเดินเท้า|  ไม่มี/ล้มเอง|        ปิคอัพ|ไม่ทราบ|    ไม่ดื่ม|ผู้ประสบเหตุ/ญาติ|        ไม่| ทุเลา/หาย|            0|
| ปีใหม่ 51|         10|กรุงเทพมหานคร|   11616|                     กรุงธน 1|            30|02:01-03:00 น.| ชาย|  35|       ในเมือง| ผู้ชับขี่|   จักรยานยนต์|  ไม่มี/ล้มเอง|ไม่ทราบ|       ดื่ม|ผู้ประสบเหตุ/ญาติ|      admit| ทุเลา/หาย|            1|
| ปีใหม่ 51|         10|กรุงเทพมหานคร|   11616|                     กรุงธน 1|            31|21:01-22:00 น.| ชาย|  22|       ไม่ทราบ| ผู้ชับขี่|   จักรยานยนต์|รถเก๋ง/แท็กซี่|ไม่ทราบ|       ดื่ม|               FR|      admit| ทุเลา/หาย|            5|
| ปีใหม่ 51|         10|กรุงเทพมหานคร|   11616|                     กรุงธน 1|            29|04:01-05:00 น.| ชาย|  27|       ไม่ทราบ| ผู้ชับขี่|     รถจักรยาน|  ไม่มี/ล้มเอง|ไม่ทราบ|    ไม่ทราบ|ผู้ประสบเหตุ/ญาติ|      admit| ทุเลา/หาย|            2|
| ปีใหม่ 51|         10|กรุงเทพมหานคร|   11616|                     กรุงธน 1|             2|11:01-12:00 น.| ชาย|   0|       ในเมือง| ผู้ชับขี่|   จักรยานยนต์|  ไม่มี/ล้มเอง| ไม่ใส่|    ไม่ทราบ|ผู้ประสบเหตุ/ญาติ|        ไม่| ทุเลา/หาย|            0|
| ปีใหม่ 51|         10|กรุงเทพมหานคร|   11616|                     กรุงธน 1|             2|11:01-12:00 น.| ชาย|   0|       ในเมือง| ผู้โดยสาร|   จักรยานยนต์|  ไม่มี/ล้มเอง|ใส่หมวก|    ไม่ทราบ|ผู้ประสบเหตุ/ญาติ|        ไม่| ทุเลา/หาย|            0|
| ปีใหม่ 51|         10|กรุงเทพมหานคร|   11616|                     กรุงธน 1|            31|22:01-23:00 น.|หญิง|  22|       ไม่ทราบ| ผู้โดยสาร|   จักรยานยนต์|  ไม่มี/ล้มเอง|ไม่ทราบ|    ไม่ดื่ม|ผู้ประสบเหตุ/ญาติ|        ไม่| ทุเลา/หาย|            0|
| ปีใหม่ 51|         10|กรุงเทพมหานคร|   11616|                     กรุงธน 1|            31|21:01-22:00 น.| ชาย|  31|       ไม่ทราบ| ผู้ชับขี่|   จักรยานยนต์|  ไม่มี/ล้มเอง|ไม่ทราบ|       ดื่ม|ผู้ประสบเหตุ/ญาติ|        ไม่| ทุเลา/หาย|            0|
| ปีใหม่ 51|         10|กรุงเทพมหานคร|   11616|                     กรุงธน 1|             3|10:01-11:00 น.| ชาย|  26|       ทางหลวง| ผู้ชับขี่|   จักรยานยนต์|  ไม่มี/ล้มเอง|ไม่ทราบ|    ไม่ทราบ|มูลนิธิ/อาสาสมัคร|        ไม่| ทุเลา/หาย|            0|
| ปีใหม่ 51|         10|กรุงเทพมหานคร|   11616|                     กรุงธน 1|             3|17:01-18:00 น.| ชาย|  45|       ทางหลวง| ผู้ชับขี่|     รถจักรยาน|      รถบรรทุก|ไม่ทราบ|    ไม่ทราบ|มูลนิธิ/อาสาสมัคร|        ไม่| ทุเลา/หาย|            0|
| ปีใหม่ 51|         10|กรุงเทพมหานคร|   11668|                     กรุงธน 2|            31|04:01-05:00 น.| ชาย|   0|       ทางหลวง| ผู้ชับขี่|   จักรยานยนต์|  ไม่มี/ล้มเอง| ไม่ใส่|    ไม่ดื่ม|ผู้ประสบเหตุ/ญาติ|        ไม่| ทุเลา/หาย|            0|
| ปีใหม่ 51|         10|กรุงเทพมหานคร|   11668|                     กรุงธน 2|            31|24:01-01:00 น.| ชาย|   0|       ไม่ทราบ| ผู้ชับขี่|   จักรยานยนต์|  ไม่มี/ล้มเอง| ไม่ใส่|    ไม่ดื่ม|ผู้ประสบเหตุ/ญาติ|        ไม่| ทุเลา/หาย|            0|
| ปีใหม่ 51|         10|กรุงเทพมหานคร|   11668|                     กรุงธน 2|            31|02:01-03:00 น.| ชาย|   0|       ทางหลวง| ผู้โดยสาร|   จักรยานยนต์|  ไม่มี/ล้มเอง| ไม่ใส่|    ไม่ดื่ม|ผู้ประสบเหตุ/ญาติ|        ไม่| ทุเลา/หาย|            0|
| ปีใหม่ 51|         10|กรุงเทพมหานคร|   11668|                     กรุงธน 2|            29|16:01-17:00 น.|หญิง|  59|       ทางหลวง| ผู้โดยสาร|   จักรยานยนต์|   จักรยานยนต์| ไม่ใส่|    ไม่ดื่ม|ผู้ประสบเหตุ/ญาติ|        ไม่| ทุเลา/หาย|            0|
| ปีใหม่ 51|         10|กรุงเทพมหานคร|   11668|                     กรุงธน 2|            29|14:01-15:00 น.|หญิง|  41|       ทางหลวง| ผู้ชับขี่|   จักรยานยนต์|        ปิคอัพ| ไม่ใส่|       ดื่ม|ผู้ประสบเหตุ/ญาติ|        ไม่| ทุเลา/หาย|            0|
+----------+-----------+-------------+--------+-----------------------------+--------------+--------------+----+----+--------------+----------+--------------+--------------+-------+-----------+-----------------+-----------+----------+-------------+
only showing top 20 rows

In [ ]:
df.printSchema()

root
 |-- ชื่อเทศกาล: string (nullable = true)
 |-- รหัสจังหวัด: string (nullable = true)
 |-- จังหวัด: string (nullable = true)
 |-- รหัส รพ.: string (nullable = true)
 |-- ชื่อโรงพยาบาลที่รับผู้บาดเจ็บ: string (nullable = true)
 |-- วันที่เกิดเหตุ: string (nullable = true)
 |-- เวลาเกิดเหตุ: string (nullable = true)
 |-- เพศ: string (nullable = true)
 |-- อายุ: string (nullable = true)
 |-- ถนนที่เกิดเหตุ: string (nullable = true)
 |-- สถานะ: string (nullable = true)
 |-- รถผู้บาดเจ็บ: string (nullable = true)
 |-- รถคู่กรณี: string (nullable = true)
 |-- มาตรการ: string (nullable = true)
 |-- การดื่มสุรา: string (nullable = true)
 |-- การนำส่ง: string (nullable = true)
 |-- Refer-Admit: string (nullable = true)
 |-- ผลการรักษา: string (nullable = true)
 |-- จำนวนวันรักษา: string (nullable = true)

In [ ]:
schema ="year string,provinceid string,province string,hospitalid string,hospital string, day string, time string, sex string, age int, road string,role string, owncar string, othercar string, safety string, alcohol string, delivery string, referadmit string, result string , duration int"

In [ ]:
df=spark.read.csv("/content/accidents.csv", header=True, schema=schema)

In [ ]:
df.show()

+---------+----------+-------------+----------+----------------+---+--------------+----+---+-------+----------+--------------+--------------+-------+-------+-----------------+----------+---------+--------+
|     year|provinceid|     province|hospitalid|        hospital|day|          time| sex|age|   road|      role|        owncar|      othercar| safety|alcohol|         delivery|referadmit|   result|duration|
+---------+----------+-------------+----------+----------------+---+--------------+----+---+-------+----------+--------------+--------------+-------+-------+-----------------+----------+---------+--------+
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11630|         กรุงเทพ|  3|12:01-13:00 น.|หญิง| 54|ในเมือง| ผู้ชับขี่|รถเก๋ง/แท็กซี่|  ไม่มี/ล้มเอง|เข็มขัด|ไม่ดื่ม|ผู้ประสบเหตุ/ญาติ|       ไม่|ทุเลา/หาย|       0|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11548|กรุงเทพคริสเตียน|  2|21:01-22:00 น.|หญิง| 13|ในเมือง| ผู้ชับขี่|   จักรยานยนต์|         รถตู้|ใส่หมวก|ไม่ดื่ม|มูลนิธิ/อาสาสมัคร|     admit|ทุเลา/หาย|       0|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11548|กรุงเทพคริสเตียน| 31|03:01-04:00 น.|หญิง|  0|ในเมือง| ผู้โดยสาร|   จักรยานยนต์|        ปิคอัพ| ไม่ใส่|ไม่ดื่ม|ผู้ประสบเหตุ/ญาติ|       ไม่|ทุเลา/หาย|       0|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11548|กรุงเทพคริสเตียน| 31|03:01-04:00 น.|หญิง|  0|ในเมือง| ผู้โดยสาร|   จักรยานยนต์|        ปิคอัพ|ใส่หมวก|ไม่ดื่ม|ผู้ประสบเหตุ/ญาติ|       ไม่|ทุเลา/หาย|       0|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11548|กรุงเทพคริสเตียน| 31|03:01-04:00 น.| ชาย|  0|ในเมือง| ผู้ชับขี่|   จักรยานยนต์|        ปิคอัพ|ใส่หมวก|   ดื่ม|ผู้ประสบเหตุ/ญาติ|       ไม่|ทุเลา/หาย|       0|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11548|กรุงเทพคริสเตียน| 30|11:01-12:00 น.| ชาย| 81|ในเมือง|คนเดินเท้า|  ไม่มี/ล้มเอง|        ปิคอัพ|ไม่ทราบ|ไม่ดื่ม|ผู้ประสบเหตุ/ญาติ|       ไม่|ทุเลา/หาย|       0|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11616|        กรุงธน 1| 30|02:01-03:00 น.| ชาย| 35|ในเมือง| ผู้ชับขี่|   จักรยานยนต์|  ไม่มี/ล้มเอง|ไม่ทราบ|   ดื่ม|ผู้ประสบเหตุ/ญาติ|     admit|ทุเลา/หาย|       1|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11616|        กรุงธน 1| 31|21:01-22:00 น.| ชาย| 22|ไม่ทราบ| ผู้ชับขี่|   จักรยานยนต์|รถเก๋ง/แท็กซี่|ไม่ทราบ|   ดื่ม|               FR|     admit|ทุเลา/หาย|       5|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11616|        กรุงธน 1| 29|04:01-05:00 น.| ชาย| 27|ไม่ทราบ| ผู้ชับขี่|     รถจักรยาน|  ไม่มี/ล้มเอง|ไม่ทราบ|ไม่ทราบ|ผู้ประสบเหตุ/ญาติ|     admit|ทุเลา/หาย|       2|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11616|        กรุงธน 1|  2|11:01-12:00 น.| ชาย|  0|ในเมือง| ผู้ชับขี่|   จักรยานยนต์|  ไม่มี/ล้มเอง| ไม่ใส่|ไม่ทราบ|ผู้ประสบเหตุ/ญาติ|       ไม่|ทุเลา/หาย|       0|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11616|        กรุงธน 1|  2|11:01-12:00 น.| ชาย|  0|ในเมือง| ผู้โดยสาร|   จักรยานยนต์|  ไม่มี/ล้มเอง|ใส่หมวก|ไม่ทราบ|ผู้ประสบเหตุ/ญาติ|       ไม่|ทุเลา/หาย|       0|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11616|        กรุงธน 1| 31|22:01-23:00 น.|หญิง| 22|ไม่ทราบ| ผู้โดยสาร|   จักรยานยนต์|  ไม่มี/ล้มเอง|ไม่ทราบ|ไม่ดื่ม|ผู้ประสบเหตุ/ญาติ|       ไม่|ทุเลา/หาย|       0|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11616|        กรุงธน 1| 31|21:01-22:00 น.| ชาย| 31|ไม่ทราบ| ผู้ชับขี่|   จักรยานยนต์|  ไม่มี/ล้มเอง|ไม่ทราบ|   ดื่ม|ผู้ประสบเหตุ/ญาติ|       ไม่|ทุเลา/หาย|       0|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11616|        กรุงธน 1|  3|10:01-11:00 น.| ชาย| 26|ทางหลวง| ผู้ชับขี่|   จักรยานยนต์|  ไม่มี/ล้มเอง|ไม่ทราบ|ไม่ทราบ|มูลนิธิ/อาสาสมัคร|       ไม่|ทุเลา/หาย|       0|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11616|        กรุงธน 1|  3|17:01-18:00 น.| ชาย| 45|ทางหลวง| ผู้ชับขี่|     รถจักรยาน|      รถบรรทุก|ไม่ทราบ|ไม่ทราบ|มูลนิธิ/อาสาสมัคร|       ไม่|ทุเลา/หาย|       0|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11668|        กรุงธน 2| 31|04:01-05:00 น.| ชาย|  0|ทางหลวง| ผู้ชับขี่|   จักรยานยนต์|  ไม่มี/ล้มเอง| ไม่ใส่|ไม่ดื่ม|ผู้ประสบเหตุ/ญาติ|       ไม่|ทุเลา/หาย|       0|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11668|        กรุงธน 2| 31|24:01-01:00 น.| ชาย|  0|ไม่ทราบ| ผู้ชับขี่|   จักรยานยนต์|  ไม่มี/ล้มเอง| ไม่ใส่|ไม่ดื่ม|ผู้ประสบเหตุ/ญาติ|       ไม่|ทุเลา/หาย|       0|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11668|        กรุงธน 2| 31|02:01-03:00 น.| ชาย|  0|ทางหลวง| ผู้โดยสาร|   จักรยานยนต์|  ไม่มี/ล้มเอง| ไม่ใส่|ไม่ดื่ม|ผู้ประสบเหตุ/ญาติ|       ไม่|ทุเลา/หาย|       0|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11668|        กรุงธน 2| 29|16:01-17:00 น.|หญิง| 59|ทางหลวง| ผู้โดยสาร|   จักรยานยนต์|   จักรยานยนต์| ไม่ใส่|ไม่ดื่ม|ผู้ประสบเหตุ/ญาติ|       ไม่|ทุเลา/หาย|       0|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11668|        กรุงธน 2| 29|14:01-15:00 น.|หญิง| 41|ทางหลวง| ผู้ชับขี่|   จักรยานยนต์|        ปิคอัพ| ไม่ใส่|   ดื่ม|ผู้ประสบเหตุ/ญาติ|       ไม่|ทุเลา/หาย|       0|
+---------+----------+-------------+----------+----------------+---+--------------+----+---+-------+----------+--------------+--------------+-------+-------+-----------------+----------+---------+--------+
only showing top 20 rows

In [ ]:
df.count()

214950

In [ ]:
df.createOrReplaceTempView("accidents")

In [ ]:
df['year','sex'].show()

+---------+----+
|     year| sex|
+---------+----+
|ปีใหม่ 51|หญิง|
|ปีใหม่ 51|หญิง|
|ปีใหม่ 51|หญิง|
|ปีใหม่ 51|หญิง|
|ปีใหม่ 51| ชาย|
|ปีใหม่ 51| ชาย|
|ปีใหม่ 51| ชาย|
|ปีใหม่ 51| ชาย|
|ปีใหม่ 51| ชาย|
|ปีใหม่ 51| ชาย|
|ปีใหม่ 51| ชาย|
|ปีใหม่ 51|หญิง|
|ปีใหม่ 51| ชาย|
|ปีใหม่ 51| ชาย|
|ปีใหม่ 51| ชาย|
|ปีใหม่ 51| ชาย|
|ปีใหม่ 51| ชาย|
|ปีใหม่ 51| ชาย|
|ปีใหม่ 51|หญิง|
|ปีใหม่ 51|หญิง|
+---------+----+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import col

In [ ]:
spark.sql("SELECT age from accidents").show()

+---+
|age|
+---+
| 54|
| 13|
|  0|
|  0|
|  0|
| 81|
| 35|
| 22|
| 27|
|  0|
|  0|
| 22|
| 31|
| 26|
| 45|
|  0|
|  0|
|  0|
| 59|
| 41|
+---+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import col

In [ ]:
df.select(col('year'),col('time')).show()

+---------+--------------+
|     year|          time|
+---------+--------------+
|ปีใหม่ 51|12:01-13:00 น.|
|ปีใหม่ 51|21:01-22:00 น.|
|ปีใหม่ 51|03:01-04:00 น.|
|ปีใหม่ 51|03:01-04:00 น.|
|ปีใหม่ 51|03:01-04:00 น.|
|ปีใหม่ 51|11:01-12:00 น.|
|ปีใหม่ 51|02:01-03:00 น.|
|ปีใหม่ 51|21:01-22:00 น.|
|ปีใหม่ 51|04:01-05:00 น.|
|ปีใหม่ 51|11:01-12:00 น.|
|ปีใหม่ 51|11:01-12:00 น.|
|ปีใหม่ 51|22:01-23:00 น.|
|ปีใหม่ 51|21:01-22:00 น.|
|ปีใหม่ 51|10:01-11:00 น.|
|ปีใหม่ 51|17:01-18:00 น.|
|ปีใหม่ 51|04:01-05:00 น.|
|ปีใหม่ 51|24:01-01:00 น.|
|ปีใหม่ 51|02:01-03:00 น.|
|ปีใหม่ 51|16:01-17:00 น.|
|ปีใหม่ 51|14:01-15:00 น.|
+---------+--------------+
only showing top 20 rows

In [ ]:
df[(df.age<18)].show(5)

+---------+----------+-------------+----------+----------------+---+--------------+----+---+-------+---------+-----------+------------+-------+-------+-----------------+----------+---------+--------+
|     year|provinceid|     province|hospitalid|        hospital|day|          time| sex|age|   road|     role|     owncar|    othercar| safety|alcohol|         delivery|referadmit|   result|duration|
+---------+----------+-------------+----------+----------------+---+--------------+----+---+-------+---------+-----------+------------+-------+-------+-----------------+----------+---------+--------+
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11548|กรุงเทพคริสเตียน|  2|21:01-22:00 น.|หญิง| 13|ในเมือง|ผู้ชับขี่|จักรยานยนต์|       รถตู้|ใส่หมวก|ไม่ดื่ม|มูลนิธิ/อาสาสมัคร|     admit|ทุเลา/หาย|       0|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11548|กรุงเทพคริสเตียน| 31|03:01-04:00 น.|หญิง|  0|ในเมือง|ผู้โดยสาร|จักรยานยนต์|      ปิคอัพ| ไม่ใส่|ไม่ดื่ม|ผู้ประสบเหตุ/ญาติ|       ไม่|ทุเลา/หาย|       0|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11548|กรุงเทพคริสเตียน| 31|03:01-04:00 น.|หญิง|  0|ในเมือง|ผู้โดยสาร|จักรยานยนต์|      ปิคอัพ|ใส่หมวก|ไม่ดื่ม|ผู้ประสบเหตุ/ญาติ|       ไม่|ทุเลา/หาย|       0|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11548|กรุงเทพคริสเตียน| 31|03:01-04:00 น.| ชาย|  0|ในเมือง|ผู้ชับขี่|จักรยานยนต์|      ปิคอัพ|ใส่หมวก|   ดื่ม|ผู้ประสบเหตุ/ญาติ|       ไม่|ทุเลา/หาย|       0|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11616|        กรุงธน 1|  2|11:01-12:00 น.| ชาย|  0|ในเมือง|ผู้ชับขี่|จักรยานยนต์|ไม่มี/ล้มเอง| ไม่ใส่|ไม่ทราบ|ผู้ประสบเหตุ/ญาติ|       ไม่|ทุเลา/หาย|       0|
+---------+----------+-------------+----------+----------------+---+--------------+----+---+-------+---------+-----------+------------+-------+-------+-----------------+----------+---------+--------+
only showing top 5 rows

In [ ]:
df.createOrReplaceTempView("accidents")

In [ ]:
spark=SparkSession.builder.getOrCreate()

In [ ]:
spark.sql("select * from accidents where age <18").show(5)

+---------+----------+-------------+----------+----------------+---+--------------+----+---+-------+---------+-----------+------------+-------+-------+-----------------+----------+---------+--------+
|     year|provinceid|     province|hospitalid|        hospital|day|          time| sex|age|   road|     role|     owncar|    othercar| safety|alcohol|         delivery|referadmit|   result|duration|
+---------+----------+-------------+----------+----------------+---+--------------+----+---+-------+---------+-----------+------------+-------+-------+-----------------+----------+---------+--------+
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11548|กรุงเทพคริสเตียน|  2|21:01-22:00 น.|หญิง| 13|ในเมือง|ผู้ชับขี่|จักรยานยนต์|       รถตู้|ใส่หมวก|ไม่ดื่ม|มูลนิธิ/อาสาสมัคร|     admit|ทุเลา/หาย|       0|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11548|กรุงเทพคริสเตียน| 31|03:01-04:00 น.|หญิง|  0|ในเมือง|ผู้โดยสาร|จักรยานยนต์|      ปิคอัพ| ไม่ใส่|ไม่ดื่ม|ผู้ประสบเหตุ/ญาติ|       ไม่|ทุเลา/หาย|       0|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11548|กรุงเทพคริสเตียน| 31|03:01-04:00 น.|หญิง|  0|ในเมือง|ผู้โดยสาร|จักรยานยนต์|      ปิคอัพ|ใส่หมวก|ไม่ดื่ม|ผู้ประสบเหตุ/ญาติ|       ไม่|ทุเลา/หาย|       0|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11548|กรุงเทพคริสเตียน| 31|03:01-04:00 น.| ชาย|  0|ในเมือง|ผู้ชับขี่|จักรยานยนต์|      ปิคอัพ|ใส่หมวก|   ดื่ม|ผู้ประสบเหตุ/ญาติ|       ไม่|ทุเลา/หาย|       0|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11616|        กรุงธน 1|  2|11:01-12:00 น.| ชาย|  0|ในเมือง|ผู้ชับขี่|จักรยานยนต์|ไม่มี/ล้มเอง| ไม่ใส่|ไม่ทราบ|ผู้ประสบเหตุ/ญาติ|       ไม่|ทุเลา/หาย|       0|
+---------+----------+-------------+----------+----------------+---+--------------+----+---+-------+---------+-----------+------------+-------+-------+-----------------+----------+---------+--------+
only showing top 5 rows

In [ ]:
from pyspark.sql.functions import expr

In [ ]:
df.withColumn("addduration",df.duration+5).show()

+---------+----------+-------------+----------+----------------+---+--------------+----+---+-------+----------+--------------+--------------+-------+-------+-----------------+----------+---------+--------+-----------+
|     year|provinceid|     province|hospitalid|        hospital|day|          time| sex|age|   road|      role|        owncar|      othercar| safety|alcohol|         delivery|referadmit|   result|duration|addduration|
+---------+----------+-------------+----------+----------------+---+--------------+----+---+-------+----------+--------------+--------------+-------+-------+-----------------+----------+---------+--------+-----------+
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11630|         กรุงเทพ|  3|12:01-13:00 น.|หญิง| 54|ในเมือง| ผู้ชับขี่|รถเก๋ง/แท็กซี่|  ไม่มี/ล้มเอง|เข็มขัด|ไม่ดื่ม|ผู้ประสบเหตุ/ญาติ|       ไม่|ทุเลา/หาย|       0|          5|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11548|กรุงเทพคริสเตียน|  2|21:01-22:00 น.|หญิง| 13|ในเมือง| ผู้ชับขี่|   จักรยานยนต์|         รถตู้|ใส่หมวก|ไม่ดื่ม|มูลนิธิ/อาสาสมัคร|     admit|ทุเลา/หาย|       0|          5|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11548|กรุงเทพคริสเตียน| 31|03:01-04:00 น.|หญิง|  0|ในเมือง| ผู้โดยสาร|   จักรยานยนต์|        ปิคอัพ| ไม่ใส่|ไม่ดื่ม|ผู้ประสบเหตุ/ญาติ|       ไม่|ทุเลา/หาย|       0|          5|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11548|กรุงเทพคริสเตียน| 31|03:01-04:00 น.|หญิง|  0|ในเมือง| ผู้โดยสาร|   จักรยานยนต์|        ปิคอัพ|ใส่หมวก|ไม่ดื่ม|ผู้ประสบเหตุ/ญาติ|       ไม่|ทุเลา/หาย|       0|          5|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11548|กรุงเทพคริสเตียน| 31|03:01-04:00 น.| ชาย|  0|ในเมือง| ผู้ชับขี่|   จักรยานยนต์|        ปิคอัพ|ใส่หมวก|   ดื่ม|ผู้ประสบเหตุ/ญาติ|       ไม่|ทุเลา/หาย|       0|          5|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11548|กรุงเทพคริสเตียน| 30|11:01-12:00 น.| ชาย| 81|ในเมือง|คนเดินเท้า|  ไม่มี/ล้มเอง|        ปิคอัพ|ไม่ทราบ|ไม่ดื่ม|ผู้ประสบเหตุ/ญาติ|       ไม่|ทุเลา/หาย|       0|          5|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11616|        กรุงธน 1| 30|02:01-03:00 น.| ชาย| 35|ในเมือง| ผู้ชับขี่|   จักรยานยนต์|  ไม่มี/ล้มเอง|ไม่ทราบ|   ดื่ม|ผู้ประสบเหตุ/ญาติ|     admit|ทุเลา/หาย|       1|          6|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11616|        กรุงธน 1| 31|21:01-22:00 น.| ชาย| 22|ไม่ทราบ| ผู้ชับขี่|   จักรยานยนต์|รถเก๋ง/แท็กซี่|ไม่ทราบ|   ดื่ม|               FR|     admit|ทุเลา/หาย|       5|         10|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11616|        กรุงธน 1| 29|04:01-05:00 น.| ชาย| 27|ไม่ทราบ| ผู้ชับขี่|     รถจักรยาน|  ไม่มี/ล้มเอง|ไม่ทราบ|ไม่ทราบ|ผู้ประสบเหตุ/ญาติ|     admit|ทุเลา/หาย|       2|          7|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11616|        กรุงธน 1|  2|11:01-12:00 น.| ชาย|  0|ในเมือง| ผู้ชับขี่|   จักรยานยนต์|  ไม่มี/ล้มเอง| ไม่ใส่|ไม่ทราบ|ผู้ประสบเหตุ/ญาติ|       ไม่|ทุเลา/หาย|       0|          5|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11616|        กรุงธน 1|  2|11:01-12:00 น.| ชาย|  0|ในเมือง| ผู้โดยสาร|   จักรยานยนต์|  ไม่มี/ล้มเอง|ใส่หมวก|ไม่ทราบ|ผู้ประสบเหตุ/ญาติ|       ไม่|ทุเลา/หาย|       0|          5|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11616|        กรุงธน 1| 31|22:01-23:00 น.|หญิง| 22|ไม่ทราบ| ผู้โดยสาร|   จักรยานยนต์|  ไม่มี/ล้มเอง|ไม่ทราบ|ไม่ดื่ม|ผู้ประสบเหตุ/ญาติ|       ไม่|ทุเลา/หาย|       0|          5|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11616|        กรุงธน 1| 31|21:01-22:00 น.| ชาย| 31|ไม่ทราบ| ผู้ชับขี่|   จักรยานยนต์|  ไม่มี/ล้มเอง|ไม่ทราบ|   ดื่ม|ผู้ประสบเหตุ/ญาติ|       ไม่|ทุเลา/หาย|       0|          5|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11616|        กรุงธน 1|  3|10:01-11:00 น.| ชาย| 26|ทางหลวง| ผู้ชับขี่|   จักรยานยนต์|  ไม่มี/ล้มเอง|ไม่ทราบ|ไม่ทราบ|มูลนิธิ/อาสาสมัคร|       ไม่|ทุเลา/หาย|       0|          5|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11616|        กรุงธน 1|  3|17:01-18:00 น.| ชาย| 45|ทางหลวง| ผู้ชับขี่|     รถจักรยาน|      รถบรรทุก|ไม่ทราบ|ไม่ทราบ|มูลนิธิ/อาสาสมัคร|       ไม่|ทุเลา/หาย|       0|          5|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11668|        กรุงธน 2| 31|04:01-05:00 น.| ชาย|  0|ทางหลวง| ผู้ชับขี่|   จักรยานยนต์|  ไม่มี/ล้มเอง| ไม่ใส่|ไม่ดื่ม|ผู้ประสบเหตุ/ญาติ|       ไม่|ทุเลา/หาย|       0|          5|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11668|        กรุงธน 2| 31|24:01-01:00 น.| ชาย|  0|ไม่ทราบ| ผู้ชับขี่|   จักรยานยนต์|  ไม่มี/ล้มเอง| ไม่ใส่|ไม่ดื่ม|ผู้ประสบเหตุ/ญาติ|       ไม่|ทุเลา/หาย|       0|          5|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11668|        กรุงธน 2| 31|02:01-03:00 น.| ชาย|  0|ทางหลวง| ผู้โดยสาร|   จักรยานยนต์|  ไม่มี/ล้มเอง| ไม่ใส่|ไม่ดื่ม|ผู้ประสบเหตุ/ญาติ|       ไม่|ทุเลา/หาย|       0|          5|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11668|        กรุงธน 2| 29|16:01-17:00 น.|หญิง| 59|ทางหลวง| ผู้โดยสาร|   จักรยานยนต์|   จักรยานยนต์| ไม่ใส่|ไม่ดื่ม|ผู้ประสบเหตุ/ญาติ|       ไม่|ทุเลา/หาย|       0|          5|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11668|        กรุงธน 2| 29|14:01-15:00 น.|หญิง| 41|ทางหลวง| ผู้ชับขี่|   จักรยานยนต์|        ปิคอัพ| ไม่ใส่|   ดื่ม|ผู้ประสบเหตุ/ญาติ|       ไม่|ทุเลา/หาย|       0|          5|
+---------+----------+-------------+----------+----------------+---+--------------+----+---+-------+----------+--------------+--------------+-------+-------+-----------------+----------+---------+--------+-----------+
only showing top 20 rows

In [ ]:
df.drop(col('addduration')).show(5)

+---------+----------+-------------+----------+----------------+---+--------------+----+---+-------+---------+--------------+------------+-------+-------+-----------------+----------+---------+--------+
|     year|provinceid|     province|hospitalid|        hospital|day|          time| sex|age|   road|     role|        owncar|    othercar| safety|alcohol|         delivery|referadmit|   result|duration|
+---------+----------+-------------+----------+----------------+---+--------------+----+---+-------+---------+--------------+------------+-------+-------+-----------------+----------+---------+--------+
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11630|         กรุงเทพ|  3|12:01-13:00 น.|หญิง| 54|ในเมือง|ผู้ชับขี่|รถเก๋ง/แท็กซี่|ไม่มี/ล้มเอง|เข็มขัด|ไม่ดื่ม|ผู้ประสบเหตุ/ญาติ|       ไม่|ทุเลา/หาย|       0|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11548|กรุงเทพคริสเตียน|  2|21:01-22:00 น.|หญิง| 13|ในเมือง|ผู้ชับขี่|   จักรยานยนต์|       รถตู้|ใส่หมวก|ไม่ดื่ม|มูลนิธิ/อาสาสมัคร|     admit|ทุเลา/หาย|       0|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11548|กรุงเทพคริสเตียน| 31|03:01-04:00 น.|หญิง|  0|ในเมือง|ผู้โดยสาร|   จักรยานยนต์|      ปิคอัพ| ไม่ใส่|ไม่ดื่ม|ผู้ประสบเหตุ/ญาติ|       ไม่|ทุเลา/หาย|       0|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11548|กรุงเทพคริสเตียน| 31|03:01-04:00 น.|หญิง|  0|ในเมือง|ผู้โดยสาร|   จักรยานยนต์|      ปิคอัพ|ใส่หมวก|ไม่ดื่ม|ผู้ประสบเหตุ/ญาติ|       ไม่|ทุเลา/หาย|       0|
|ปีใหม่ 51|        10|กรุงเทพมหานคร|     11548|กรุงเทพคริสเตียน| 31|03:01-04:00 น.| ชาย|  0|ในเมือง|ผู้ชับขี่|   จักรยานยนต์|      ปิคอัพ|ใส่หมวก|   ดื่ม|ผู้ประสบเหตุ/ญาติ|       ไม่|ทุเลา/หาย|       0|
+---------+----------+-------------+----------+----------------+---+--------------+----+---+-------+---------+--------------+------------+-------+-------+-----------------+----------+---------+--------+
only showing top 5 rows

In [ ]:
row2=df.collect()[2]

In [ ]:
row2

Row(year='ปีใหม่ 51', provinceid='10', province='กรุงเทพมหานคร', hospitalid='11548', hospital='กรุงเทพคริสเตียน', day='31', time='03:01-04:00 น.', sex='หญิง', age=0, road='ในเมือง', role='ผู้โดยสาร', owncar='จักรยานยนต์', othercar='ปิคอัพ', safety='ไม่ใส่', alcohol='ไม่ดื่ม', delivery='ผู้ประสบเหตุ/ญาติ', referadmit='ไม่', result='ทุเลา/หาย', duration=0)

ดึงมาเฉพาะ แถวที่ 2 มาแสดง

In [ ]:
row2[1]

'10'

In [ ]:
df.select('province').distinct().collect()

[Row(province='สุรินทร์'),
 Row(province='ระนอง'),
 Row(province='ระยอง'),
 Row(province='น่าน'),
 Row(province='ลำปาง'),
 Row(province='กระบี่'),
 Row(province='ชัยนาท'),
 Row(province='บุรีรัมย์'),
 Row(province='สระแก้ว'),
 Row(province='ร้อยเอ็ด'),
 Row(province='ตาก'),
 Row(province='เพชรบูรณ์'),
 Row(province='ศรีสะเกษ'),
 Row(province='อำนาจเจริญ'),
 Row(province='แม่ฮ่องสอน'),
 Row(province='แพร่'),
 Row(province='ราชบุรี'),
 Row(province='ปัตตานี'),
 Row(province='สมุทรสาคร'),
 Row(province='เชียงราย'),
 Row(province='สตูล'),
 Row(province='ประจวบคีรีขันธ์'),
 Row(province='สุพรรณบุรี'),
 Row(province='นครสวรรค์'),
 Row(province='เลย'),
 Row(province='ลพบุรี'),
 Row(province='สุราษฎร์ธานี'),
 Row(province='พระนครศรีอยุธยา'),
 Row(province='มุกดาหาร'),
 Row(province='หนองคาย'),
 Row(province='จันทบุรี'),
 Row(province='เชียงใหม่'),
 Row(province='กำแพงเพชร'),
 Row(province='เพชรบุรี'),
 Row(province='กาฬสินธุ์'),
 Row(province='กรุงเทพมหานคร'),
 Row(province='สมุทรสงคราม'),
 Row(province='ชลบุรี'),
 Row(province='พะเยา'),
 Row(province='สกลนคร'),
 Row(province='นครปฐม'),
 Row(province='พัทลุง'),
 Row(province='พังงา'),
 Row(province='สิงห์บุรี'),
 Row(province='สุโขทัย'),
 Row(province='ลำพูน'),
 Row(province='ยะลา'),
 Row(province='สมุทรปราการ'),
 Row(province='ชัยภูมิ'),
 Row(province='ยโสธร'),
 Row(province='นครพนม'),
 Row(province='นนทบุรี'),
 Row(province='ตราด'),
 Row(province='หนองบัวลำภู'),
 Row(province='ตรัง'),
 Row(province='นราธิวาส'),
 Row(province='พิจิตร'),
 Row(province='อุดรธานี'),
 Row(province='ขอนแก่น'),
 Row(province='นครนายก'),
 Row(province='มหาสารคาม'),
 Row(province='สระบุรี'),
 Row(province='อ่างทอง'),
 Row(province='นครศรีธรรมราช'),
 Row(province='นครราชสีมา'),
 Row(province='กาญจนบุรี'),
 Row(province='ปทุมธานี'),
 Row(province='ปราจีนบุรี'),
 Row(province='ฉะเชิงเทรา'),
 Row(province='สงขลา'),
 Row(province='อุบลราชธานี'),
 Row(province='ภูเก็ต'),
 Row(province='อุตรดิตถ์'),
 Row(province='อุทัยธานี'),
 Row(province='พิษณุโลก'),
 Row(province='ชุมพร'),
 Row(province='บึงกาฬ')]

In [ ]:
df.select('province').count()

214950

In [ ]:
spark.sql("SELECT province from accidents").count()

214950

In [ ]:
df.dropDuplicates().count()

213764

In [ ]:
df.dropDuplicates( ['province'] ).count()

77

In [ ]:
df.dropDuplicates(['year','province']).count()

608

In [ ]:
df.dropDuplicates(['hospital']).count()

1192

In [ ]:
df.dropDuplicates(['province','hospital']).count()

1232

In [ ]:
df.freqItems(['province']).collect()

[Row(province_freqItems=['มุกดาหาร', 'ภูเก็ต', 'ชุมพร', 'บึงกาฬ', 'ตาก', 'อำนาจเจริญ', 'ลำพูน', 'ระยอง', 'ขอนแก่น', 'อุตรดิตถ์', 'พัทลุง', 'เลย', 'เพชรบุรี', 'นราธิวาส', 'สมุทรสงคราม', 'หนองบัวลำภู', 'ระนอง', 'สงขลา', 'อุบลราชธานี', 'ยโสธร', 'บุรีรัมย์', 'พิษณุโลก', 'ประจวบคีรีขันธ์', 'เพชรบูรณ์', 'สุราษฎร์ธานี', 'พะเยา', 'นนทบุรี', 'นครพนม', 'เชียงใหม่', 'แพร่', 'จันทบุรี', 'สระแก้ว', 'เชียงราย', 'สกลนคร', 'กาญจนบุรี', 'นครสวรรค์', 'สมุทรปราการ', 'สุพรรณบุรี', 'ราชบุรี', 'กระบี่', 'กรุงเทพมหานคร', 'นครศรีธรรมราช', 'ยะลา', 'กาฬสินธุ์', 'อุดรธานี', 'สมุทรสาคร', 'พระนครศรีอยุธยา', 'ชลบุรี', 'น่าน', 'สระบุรี', 'อ่างทอง', 'สตูล', 'ปราจีนบุรี', 'ลำปาง', 'ร้อยเอ็ด', 'นครปฐม', 'ตรัง', 'มหาสารคาม', 'กำแพงเพชร', 'ปทุมธานี', 'ศรีสะเกษ', 'แม่ฮ่องสอน', 'นครราชสีมา', 'ชัยนาท', 'สุรินทร์', 'อุทัยธานี', 'ชัยภูมิ', 'ตราด', 'หนองคาย', 'พังงา', 'ปัตตานี', 'ลพบุรี', 'ฉะเชิงเทรา', 'นครนายก', 'สิงห์บุรี', 'พิจิตร', 'สุโขทัย'])]

In [118]:
df.describe().show()

+-------+---------+-----------------+----------+------------------+--------+------------------+--------------+------+------------------+-------+----------+------------+------------+-------+-------+--------+----------+-----------------+------------------+
|summary|     year|       provinceid|  province|        hospitalid|hospital|               day|          time|   sex|               age|   road|      role|      owncar|    othercar| safety|alcohol|delivery|referadmit|           result|          duration|
+-------+---------+-----------------+----------+------------------+--------+------------------+--------------+------+------------------+-------+----------+------------+------------+-------+-------+--------+----------+-----------------+------------------+
|  count|   214950|           214950|    214950|            214950|  214950|            214950|        214950|214950|            214950| 214950|    214950|      214950|      214950| 214950| 214950|  214950|    214950|           214950|            214950|
|   mean|     null|48.20958362409863|      null|11354.722921609677|    null|17.339725517562222|          null|  null|28.861432891370086|   null|      null|        null|        null|   null|   null|    null|      null|             null|0.3443591532914631|
| stddev|     null|24.54851678096251|      null| 1504.945276938164|    null|13.816249484363201|          null|  null|16.402317563950238|   null|      null|        null|        null|   null|   null|    null|      null|             null|1.7740468057311898|
|    min|ปีใหม่ 51|               10|    กระบี่|             10660|   กงหรา|                 0|01:01-02:00 น.|   ชาย|                 0|   ชนบท|คนเดินเท้า| จักรยานยนต์| จักรยานยนต์|เข็มขัด|   ดื่ม|     ALS|     admit|ตายที่ห้องฉุกเฉิน|                 0|
|    max|ปีใหม่ 58|               97|แม่ฮ่องสอน|             50170| ไม้แก่น|                 5|       ไม่ทราบ|  หญิง|                99|ไม่ทราบ|   ไม่ทราบ|ไม่มี/ล้มเอง|ไม่มี/ล้มเอง| ไม่ใส่|ไม่ทราบ|ไม่นำส่ง|       ไม่|        ทุเลา/หาย|                31|
+-------+---------+-----------------+----------+------------------+--------+------------------+--------------+------+------------------+-------+----------+------------+------------+-------+-------+--------+----------+-----------------+------------------+

In [121]:
import pyspark.sql.functions as F

In [124]:
df.agg(F.mean(df.duration),F.variance(df.age)).show()

+------------------+------------------+
|     avg(duration)|     var_samp(age)|
+------------------+------------------+
|0.3443591532914631|269.03602146867047|
+------------------+------------------+

In [128]:
df.agg({'age': 'variance','duration': 'average'} ).show()

+------------------+------------------+
|     avg(duration)|     variance(age)|
+------------------+------------------+
|0.3443591532914631|269.03602146867047|
+------------------+------------------+

In [130]:
df.agg(F.mean(df.duration).alias('meandur'),F.variance(df.age).alias('varage')).show()

+------------------+------------------+
|           meandur|            varage|
+------------------+------------------+
|0.3443591532914631|269.03602146867047|
+------------------+------------------+

In [132]:
df.groupby('province').count().show()

+----------+-----+
|  province|count|
+----------+-----+
|  สุรินทร์| 4509|
|     ระนอง|  812|
|     ระยอง| 4022|
|      น่าน| 1668|
|     ลำปาง| 3093|
|    กระบี่| 1768|
|    ชัยนาท| 1349|
| บุรีรัมย์| 6097|
|   สระแก้ว| 2201|
|  ร้อยเอ็ด| 2866|
|       ตาก| 1974|
| เพชรบูรณ์| 3943|
|  ศรีสะเกษ| 4513|
|อำนาจเจริญ|  796|
|แม่ฮ่องสอน|  979|
|      แพร่| 1680|
|   ราชบุรี| 3565|
|   ปัตตานี| 1039|
| สมุทรสาคร| 2484|
|  เชียงราย| 5025|
+----------+-----+
only showing top 20 rows

In [133]:
df.groupBy('sex').agg(F.variance('age')).show()

+----+-----------------+
| sex|    var_samp(age)|
+----+-----------------+
|หญิง| 275.207001422118|
| ชาย|265.8975519238238|
+----+-----------------+

In [134]:
df.groupBy('province').count().sort('count', ascending= False).show()

+---------------+-----+
|       province|count|
+---------------+-----+
|     นครราชสีมา| 9835|
|      เชียงใหม่| 7930|
|         ชลบุรี| 7221|
|        ขอนแก่น| 6779|
|      บุรีรัมย์| 6097|
|  กรุงเทพมหานคร| 5921|
|          สงขลา| 5397|
|   สุราษฎร์ธานี| 5354|
|       เชียงราย| 5025|
|  นครศรีธรรมราช| 4643|
|       ศรีสะเกษ| 4513|
|       สุรินทร์| 4509|
|      นครสวรรค์| 4195|
|    สมุทรปราการ| 4092|
|          ระยอง| 4022|
|      เพชรบูรณ์| 3943|
|         ภูเก็ต| 3877|
|พระนครศรีอยุธยา| 3846|
|        ราชบุรี| 3565|
|       อุดรธานี| 3447|
+---------------+-----+
only showing top 20 rows