<a href="https://colab.research.google.com/github/somkiatth/git/blob/master/kupyspark_time.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 47 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 39.7 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=1f5a988084dcac4052a3f770405b0312864eb1576416c072da023adb6d68b596
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.getOrCreate()

In [17]:
from pyspark.sql.functions import col

In [28]:
spark.read.csv("/content/earthquakes.csv",header=True,inferSchema=True).printSchema()

root
 |-- Time: timestamp (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Longitude: double (nullable = true)
 |-- Depth/Km: double (nullable = true)
 |-- Magnitude: double (nullable = true)

In [29]:
dft = spark.read.csv("/content/earthquakes.csv",header=True)

In [30]:
import pyspark.sql.functions as F

In [31]:
dft.show()

+------------------+--------+---------+--------+---------+
|              Time|Latitude|Longitude|Depth/Km|Magnitude|
+------------------+--------+---------+--------+---------+
|2016-08-24 3:36:32| 42.6983|  13.2335|     8.1|        6|
|2016-08-24 3:37:27| 42.7123|  13.2533|       9|      4.5|
|2016-08-24 3:40:47| 42.7647|  13.1723|     9.7|      3.8|
|2016-08-24 3:41:39| 42.7803|  13.1683|     9.7|      3.9|
|2016-08-24 3:42:07| 42.7798|  13.1575|     9.7|      3.6|
|2016-08-24 3:43:59| 42.7298|  13.2137|    10.7|      3.4|
|2016-08-24 3:44:39|  42.676|  13.2858|    10.8|      2.7|
|2016-08-24 3:44:56| 42.6282|  13.2648|    10.6|      3.2|
|2016-08-24 3:46:12| 42.7645|  13.1777|     6.6|      3.7|
|2016-08-24 3:46:46| 42.7445|  13.2097|    12.4|      2.8|
|2016-08-24 3:47:52| 42.6675|  13.3238|     6.5|      3.3|
|2016-08-24 3:52:26| 42.7447|  13.2827|     7.9|      2.9|
|2016-08-24 3:52:43| 42.6378|  13.2313|    10.9|      3.1|
|2016-08-24 3:55:20| 42.7895|  13.1453|    11.1|        3|
|2016-08-24 3:55:45| 42.7217|  13.2497|     6.3|      3.5|
|2016-08-24 3:56:01| 42.6008|  13.2763|     7.7|      4.3|
|2016-08-24 3:57:23| 42.7165|  13.2208|     8.5|      3.4|
|2016-08-24 3:59:06| 43.1615|  12.8797|    18.7|        2|
|2016-08-24 3:59:24| 42.6307|  13.2283|    10.7|      2.8|
|2016-08-24 4:00:00| 42.6125|  13.2497|    11.2|      2.9|
+------------------+--------+---------+--------+---------+
only showing top 20 rows

In [33]:
dft.select(F.to_timestamp(dft.Time)).show()

+-------------------+
| to_timestamp(Time)|
+-------------------+
|2016-08-24 03:36:32|
|2016-08-24 03:37:27|
|2016-08-24 03:40:47|
|2016-08-24 03:41:39|
|2016-08-24 03:42:07|
|2016-08-24 03:43:59|
|2016-08-24 03:44:39|
|2016-08-24 03:44:56|
|2016-08-24 03:46:12|
|2016-08-24 03:46:46|
|2016-08-24 03:47:52|
|2016-08-24 03:52:26|
|2016-08-24 03:52:43|
|2016-08-24 03:55:20|
|2016-08-24 03:55:45|
|2016-08-24 03:56:01|
|2016-08-24 03:57:23|
|2016-08-24 03:59:06|
|2016-08-24 03:59:24|
|2016-08-24 04:00:00|
+-------------------+
only showing top 20 rows

In [34]:
dft.filter(F.dayofweek(dft.Time)==5).show()

+------------------+--------+---------+--------+---------+
|              Time|Latitude|Longitude|Depth/Km|Magnitude|
+------------------+--------+---------+--------+---------+
|2016-08-25 0:00:37| 42.8057|  13.1877|     9.3|      2.1|
|2016-08-25 0:02:02| 42.6415|  13.3043|    11.1|      2.1|
|2016-08-25 0:02:03| 42.6643|  13.2998|     0.7|      2.2|
|2016-08-25 0:10:52| 42.8368|  13.1493|     8.6|        2|
|2016-08-25 0:15:47| 42.6588|  13.2812|    10.7|      2.1|
|2016-08-25 0:20:24| 42.7923|  13.2028|     9.6|      2.5|
|2016-08-25 0:22:06| 42.7935|  13.1687|    10.2|      2.1|
|2016-08-25 0:23:12| 42.7422|   13.178|    10.8|      2.2|
|2016-08-25 0:35:34| 42.7807|  13.1297|    10.6|        2|
|2016-08-25 0:56:10| 42.7027|  13.2243|    10.7|      2.2|
|2016-08-25 0:57:20| 42.7288|  13.2393|    10.8|      2.7|
|2016-08-25 1:03:03| 42.7405|  13.2337|     8.9|      2.3|
|2016-08-25 1:03:51|  42.813|  13.1973|     9.2|        2|
|2016-08-25 1:04:58| 42.7533|  13.2353|     7.5|      2.1|
|2016-08-25 1:06:17| 42.7325|  13.2442|    10.4|      2.4|
|2016-08-25 1:07:57|    42.8|  13.2522|     8.4|        2|
|2016-08-25 1:22:06| 42.6535|  13.2098|    11.8|        4|
|2016-08-25 1:24:56| 42.7505|  13.2323|     9.4|      3.4|
|2016-08-25 1:28:23| 42.6017|   13.231|    15.9|      2.5|
|2016-08-25 1:30:05| 42.6503|  13.2212|    10.4|      2.5|
+------------------+--------+---------+--------+---------+
only showing top 20 rows

In [36]:
dft.select('Time',F.date_add(dft.Time,3)).show()

+------------------+-----------------+
|              Time|date_add(Time, 3)|
+------------------+-----------------+
|2016-08-24 3:36:32|       2016-08-27|
|2016-08-24 3:37:27|       2016-08-27|
|2016-08-24 3:40:47|       2016-08-27|
|2016-08-24 3:41:39|       2016-08-27|
|2016-08-24 3:42:07|       2016-08-27|
|2016-08-24 3:43:59|       2016-08-27|
|2016-08-24 3:44:39|       2016-08-27|
|2016-08-24 3:44:56|       2016-08-27|
|2016-08-24 3:46:12|       2016-08-27|
|2016-08-24 3:46:46|       2016-08-27|
|2016-08-24 3:47:52|       2016-08-27|
|2016-08-24 3:52:26|       2016-08-27|
|2016-08-24 3:52:43|       2016-08-27|
|2016-08-24 3:55:20|       2016-08-27|
|2016-08-24 3:55:45|       2016-08-27|
|2016-08-24 3:56:01|       2016-08-27|
|2016-08-24 3:57:23|       2016-08-27|
|2016-08-24 3:59:06|       2016-08-27|
|2016-08-24 3:59:24|       2016-08-27|
|2016-08-24 4:00:00|       2016-08-27|
+------------------+-----------------+
only showing top 20 rows

In [37]:
dft.select(F.max(dft.Time),F.min(dft.Time),F.datediff(F.max(dft.Time),F.min(dft.Time))).show()

+------------------+-------------------+------------------------------+
|         max(Time)|          min(Time)|datediff(max(Time), min(Time))|
+------------------+-------------------+------------------------------+
|2016-11-30 9:51:18|2016-08-24 10:00:56|                            98|
+------------------+-------------------+------------------------------+

In [38]:
window =F.window(dft.Time, '1 day')

In [42]:
dft.groupby(window).count().sort('window').show(truncate=False)

+------------------------------------------+-----+
|window                                    |count|
+------------------------------------------+-----+
|{2016-08-24 00:00:00, 2016-08-25 00:00:00}|508  |
|{2016-08-25 00:00:00, 2016-08-26 00:00:00}|240  |
|{2016-08-26 00:00:00, 2016-08-27 00:00:00}|212  |
|{2016-08-27 00:00:00, 2016-08-28 00:00:00}|140  |
|{2016-08-28 00:00:00, 2016-08-29 00:00:00}|110  |
|{2016-08-29 00:00:00, 2016-08-30 00:00:00}|74   |
|{2016-08-30 00:00:00, 2016-08-31 00:00:00}|71   |
|{2016-08-31 00:00:00, 2016-09-01 00:00:00}|66   |
|{2016-09-01 00:00:00, 2016-09-02 00:00:00}|59   |
|{2016-09-02 00:00:00, 2016-09-03 00:00:00}|51   |
|{2016-09-03 00:00:00, 2016-09-04 00:00:00}|85   |
|{2016-09-04 00:00:00, 2016-09-05 00:00:00}|46   |
|{2016-09-05 00:00:00, 2016-09-06 00:00:00}|50   |
|{2016-09-06 00:00:00, 2016-09-07 00:00:00}|50   |
|{2016-09-07 00:00:00, 2016-09-08 00:00:00}|57   |
|{2016-09-08 00:00:00, 2016-09-09 00:00:00}|25   |
|{2016-09-09 00:00:00, 2016-09-10 00:00:00}|35   |
|{2016-09-10 00:00:00, 2016-09-11 00:00:00}|23   |
|{2016-09-11 00:00:00, 2016-09-12 00:00:00}|20   |
|{2016-09-12 00:00:00, 2016-09-13 00:00:00}|29   |
+------------------------------------------+-----+
only showing top 20 rows

In [47]:
from pyspark.sql import Window

In [49]:
windowordertime = Window.orderBy('Time')

In [50]:
dft.select('Time',F.lag(dft.Time).over(windowordertime)).show()

+-------------------+--------------------------------------------------------------------------------------------------+
|               Time|lag(Time, 1, NULL) OVER (ORDER BY Time ASC NULLS FIRST ROWS BETWEEN -1 FOLLOWING AND -1 FOLLOWING)|
+-------------------+--------------------------------------------------------------------------------------------------+
|2016-08-24 10:00:56|                                                                                              null|
|2016-08-24 10:01:58|                                                                               2016-08-24 10:00:56|
|2016-08-24 10:02:55|                                                                               2016-08-24 10:01:58|
|2016-08-24 10:19:27|                                                                               2016-08-24 10:02:55|
|2016-08-24 10:19:53|                                                                               2016-08-24 10:19:27|
|2016-08-24 10:30:38|                                                                               2016-08-24 10:19:53|
|2016-08-24 10:37:08|                                                                               2016-08-24 10:30:38|
|2016-08-24 10:38:10|                                                                               2016-08-24 10:37:08|
|2016-08-24 10:39:05|                                                                               2016-08-24 10:38:10|
|2016-08-24 10:49:02|                                                                               2016-08-24 10:39:05|
|2016-08-24 10:52:10|                                                                               2016-08-24 10:49:02|
|2016-08-24 10:55:33|                                                                               2016-08-24 10:52:10|
|2016-08-24 10:56:38|                                                                               2016-08-24 10:55:33|
|2016-08-24 10:58:51|                                                                               2016-08-24 10:56:38|
|2016-08-24 11:00:31|                                                                               2016-08-24 10:58:51|
|2016-08-24 11:02:59|                                                                               2016-08-24 11:00:31|
|2016-08-24 11:04:38|                                                                               2016-08-24 11:02:59|
|2016-08-24 11:05:10|                                                                               2016-08-24 11:04:38|
|2016-08-24 11:09:46|                                                                               2016-08-24 11:05:10|
|2016-08-24 11:13:30|                                                                               2016-08-24 11:09:46|
+-------------------+--------------------------------------------------------------------------------------------------+
only showing top 20 rows