<a href="https://colab.research.google.com/github/somkiatth/git/blob/master/TUCopy_of_Name_EDA_LAB2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import library

In [ ]:
# import package library
import numpy as np
import pandas as pd
# some imports to set up plotting
import matplotlib.pyplot as plt
import seaborn as sns

# Data Preprocessing

## Dealing with missing values

Import data from temporary storage:

In [ ]:
df = pd.read_csv('Operations_empty.csv')
df.head()

### Drop NA

In [ ]:
# count NAN in each column

In [ ]:
# drop na

In [ ]:
# ลบแถวของข้อมูลที่มีค่า NaN ในคอลัมน์ 'Purchases'
df.dropna(subset = ['Purchases'], axis = 0, inplace = True)
df

### Replace NA with Mean

In [ ]:
# find mean of 'Sales'
sales_mean =

In [ ]:
sales_mean

In [ ]:
# แทนค่าข้อมูลที่มีค่า NaN ด้วยค่าเฉลี่ยของ Sales ในคอลัมน์ Sales
df_testfill = df.copy()
df['Sales'].fillna(value = int(df['Sales'].mean()), inplace=True)
df

In [ ]:
# นับค่า NaN ของ df_testfill

In [ ]:
sales_mean = df['Sales'].mean()
df['Sales'] = df['Sales'].replace(np.nan, int(sales_mean))
df

In [ ]:
df.isna().sum()

## Dealing with duplicate data

In [ ]:
# Construct new data frame from dictionary, data_df
data_df  = {'Name': ['Arpit', 'Riya', 'Priyanka', 'Aman', 'Arpit', 'Rohan', 'Riya', 'Sakshi'],

           'Employment Type': ['Full-time Employee', 'Part-time Employee', 'Intern', 'Intern',
                               'Full-time Employee', 'Part-time Employee', 'Part-time Employee', 'Full-time Employee'],

           'Department': ['Administration', 'Marketing', 'Technical', 'Marketing',
                          'Administration', 'Technical', 'Marketing', 'Administration']}

# data_df

df_emp = pd.DataFrame(data_df)
df_emp

In [ ]:
#นับจำนวนข้อมูลที่มีค่าซ้ำ

### Drop duplicate keep first

In [ ]:
bool_series = df_emp.duplicated()
bool_series

In [ ]:
df_emp[~bool_series]

## Data Formatting

In [ ]:
df

In [ ]:
#สร้าง column ใหม่
df['Purchases in thousands'] =
df['Sales in thousands'] =
df['Refunds in thousands'] =
df

In [ ]:
#ตรวจสอบชนิดข้อมูลในแต่ละคอลัมน์
df.dtypes

In [ ]:
#เปลี่ยนชนิดข้อมูล
df = df.astype({'Customer': object})

In [ ]:
#ลองเช็คชนิดข้อมูลในแต่ละคอลัมน์อีกรอบ
df.dtypes

## Data Scaling

In [ ]:
df_employee = pd.read_csv('Employees.csv')
df_employee

### Simple Feature Scaling

In [ ]:
df_norm1 = df_employee.copy()
df_norm1

In [ ]:
df_norm1['Age'].max()

In [ ]:
df_norm1['Age'] = df_norm1['Age']/df_norm1['Age'].max()
df_norm1['Salary'] = df_norm1['Salary']/df_norm1['Salary'].max()
df_norm1

### Min-Max scaling

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
df_norm2 = df_employee.copy()

In [ ]:
scaler = MinMaxScaler()
df_norm2[['Age', 'Salary']] = scaler.fit_transform(df_norm2[['Age', 'Salary']])
df_norm2

### Standard Scaling

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
df_norm3 = df_employee.copy()

In [ ]:
scaler = StandardScaler()
df_norm3[['Age', 'Salary']] = scaler.fit_transform(df_norm3[['Age', 'Salary']])
df_norm3

## Grouping Numerical Value into Classes

In [ ]:
df

In [ ]:
df.head()

In [ ]:
my_class = np.linspace(start=min(df['Sales']), stop=max(df['Sales']), num=4)

In [ ]:
my_class

In [ ]:
group_names = ["Low", "Medium", "High"]

In [ ]:
df['Group Sales'] = pd.cut(df['Sales'], my_class, labels=group_names, include_lowest=True)

In [ ]:
df

## Converting a categorical variable to numeric.

In [ ]:
df.head(3)

In [ ]:
df['Payment Type'].unique()

In [ ]:
df_dummies = pd.get_dummies(df['Payment Type'])

In [ ]:
df_dummies

In [ ]:
pd.concat([df, df_dummies], axis=1)

# EDA

## Univariate non-graphical EDA: Categorical Data

In [ ]:
df_operations = pd.read_csv('Operations.csv')
df_operations.head(3)

## Univariate non-graphical EDA: Numerical Data

## Univariate Graphical EDA: Categorical Data

In [ ]:
#สร้าง Bar plot ของ Payment Type

In [ ]:
#สร้าง Bar plot ของ Continent

## Univariate Graphical EDA: Numerical Data

### Histogram

In [ ]:
df_operations.head()

In [ ]:
df_operations['Purchases'].plot.hist(bins=30)

### Boxplot

In [ ]:
df_operations['Purchases'].plot(kind='box')
plt.title("Box Plot")

## Multivariate Graphical EDA

In [ ]:
df_operations.head()

### Scatter Plot

In [ ]:
df_fat = pd.read_csv('Fat_Supply_Quantity_Data.csv')
df_fat.head(3)

In [ ]:
df_fat.dtypes

In [ ]:
df_fat.shape

In [ ]:
df_fat.isna().sum()

In [ ]:
df_fat = df_fat.dropna()

In [ ]:
df_fat.isna().sum()

In [ ]:
df_fat.plot.scatter(x='Animal fats', y='Animal Products')

In [ ]:
sns.lmplot(x='Vegetable Oils',y= 'Animal Products', data=df_fat)

### Correlation Analysis

In [ ]:
from scipy import stats

In [ ]:
pearson_coef, p_value = stats.pearsonr(df_fat['Animal Products'], df_fat['Meat'])

In [ ]:
pearson_coef

In [ ]:
p_value

In [ ]:
if p_value < 0.001:
    print("High certainty")
elif p_value < 0.05:
    print("Moderate certainty")
elif p_value < 0.1:
    print("Low certainty")
else:
    print("Lack of certainty")

High certainty

In [ ]:
#หาค่า correlation ของ df_fat

In [ ]:
plt.figure(figsize=(20, 10))
sns.heatmap(c)

In [ ]:
#หาค่า correlation ของคอลัมน์ Obesity และ Animal Products ใน df_fat

In [ ]:
plt.figure(figsize=(10, 5))
sns.heatmap(c2, annot=True)

In [ ]:
from pandas.plotting import scatter_matrix

In [ ]:
scatter_matrix(df_fat[['Animal Products', 'Meat', 'Obesity']])

### Cross Tab (Categorical)

In [ ]:
df_operations.head()

In [ ]:
cross_tab = pd.crosstab(index=df_operations['Country'], columns=df_operations['Payment Type'])

In [ ]:
cross_tab

In [ ]:
# Country Payment Type
cross_tab_prob = pd.crosstab(index=df_operations['Country'], columns=df_operations['Payment Type'], normalize="index")

In [ ]:
cross_tab_prob

In [ ]:
cross_tab_prob.plot(kind='bar', stacked=True)